<div class="container">
  <div class="row">
    <div class="jumbotron text-center">
      <div class="row">
        <h1>
          This is the Title for this page
        </h1>
        <p>
          This is the body explaining what this page is all about.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="well">
      <div class="row">
        <h7>Posted on DATE by AUTHOR  |  Update on DATE</h7>
      </div>
      <div class="row text-center">
        <h1>This is the Title of a Blog Post</h1>
      </div>
      <div class="row">
        <p>This is the body of the post.</p>
      </div>
    </div>
  </div>
</div>
