<div class="row">
  <div class="col-md-4">
    <img src="http://placehold.it/250x250" alt=""  style='border-radius:100%;'/>
  </div>
  <div class="col-md-8">
    <h3>Name:</h3>
    <h5>Age:</h5>
  </div>
</div>
<hr>
<div class="row">
  <h2>Posts:</h2>
  <div>
    <div class="well row" style='background-color: lightblue;'>
      <img src="http://placehold.it/200x200" alt="" class='col-md-2' >
      <p class='col-md-10'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint porro molestias, fugit commodi vero, nulla doloremque sequi nam aspernatur suscipit nihil libero omnis a ducimus quo. Velit, inventore eius molestiae!</p>
    </div>
  </div>
</div>
